<!doctype html>

<html class="no-js" lang="">

  <head>
    <title>Bootstrap UI Elements - 1+2 Grid</title>

    {% include "partials/header.nunjucks" %}
  </head>

  <body>

    <!--[if lt IE 10]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

    {% include "ui-elements/large-row.nunjucks" %}

    {% include "ui-elements/2-column.nunjucks" %}

    {% include "partials/google-analytics.nunjucks" %}

    {% include "partials/footer.nunjucks" %}

  </body>

</html>
